<a href="https://colab.research.google.com/github/ApurvChikni/front-Design/blob/main/Nirmal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Best of luck

# For installing any library enter below command


```
!pip install (library name)
```

In [ ]:
!pip install pandas

# Combinations

Input formate:

A single line containing the string **S** and integer value **K** separated by a space.

Output formate:
Print the different combinations of string **S** on separate lines.

Example:
XBYTE 3

```
Example I\P:
XBYTE 2
```


```
Example O\P:
X
B
Y
T
E
XB
XY
XT
XE
BY
BT
BE
YT
YE
TE
```

# Parsing numbers form a text and give an frequency distribution.
 
 Example I\P:


```
7H15 M3554G3 53RV35 7O PR0V3 H0W 0UR M1ND5 C4N D0 4M4Z1NG 7H1NG5! 1MPR3551V3 7H1NG5! 1N 7H3 B3G1NN1NG 17 WA5 H4RD BU7 N0W, 0N 7H15 LIN3 Y0UR M1ND 1S R34D1NG 17 4U70M471C4LLY W17H 0U7 3V3N 7H1NK1NG 4B0U7 17, B3 PROUD! 0NLY C3R741N P30PL3 C4N R3AD 7H15
```
You have to find all the nubers in it and group it by 2 digit pairs and find frequency distribution of it.

for frequency diss. example
like u have list:


```
 [1,2,3,4,1,2,3,7]
```
so frequency distribution of this list is dictionary:
```
{
    '1':2,
    '2':2,
    '3':2,
    '4':1,
    '7':1,
}
```

**Note : Do not use inbilt library for this task**

# Find a diffrent binary string 
You are given **N** binary strings of length **N** each. You need to find a binary string of length **N** which is **different** from **all** of the given strings. And there are **K** test cases.
For Ex. K = 2 and N = 3 and 4
```
sample input:
2
3
101
110
100
4
1100
1010
0100
0010
```
explaination,
first line consisit of K i.e. 2 number of test cases and for each test case their is diffrent **N** and every test cases first line consist of **N** and following **N** line consist of binary string of length **N**.

So the task is to find a diffrent binary string for each test cases which is not already present in input.
i.e.

```
Expected output:
001   (for 1st test case)
0001  (for 2nd test case)
```
NOTE:
A string is considered different from another string when they differ in at least one position.

# Upgraded 3D coordinate task

As an input you have a four variables X,Y,Z,N respectively
X,Y,Z is a range of cordinates 
for ex.
suppose x=1,y=1,z=2 and n = 3 In this case the task is to find all possible cordinates where x+y+z does not equals to 3.

Sample input:


```
1 1 1 2
```

all posible cordinates:

```
(0, 0, 0) (0, 0, 1) (0, 0, 2) (0, 1, 0) (0, 1, 1) (0, 1, 2) (1, 0, 0) (1, 0, 1) (1, 0, 2) (1, 1, 0) (1, 1, 1) (1, 1, 2)
```

Expected output cordinates/sample output:

```
(0, 0, 0) (0, 0, 1) (0, 0, 2) (0, 1, 0) (0, 1, 1) (1, 0, 0) (1, 0, 1) (1, 1, 0) (1, 1, 2)
```

# Last Level Of Pattern

You all know this problem

print following pattern till **N** line:

```
I\P:
5
Expected O\P:
1
22
333
4444
55555
```
constrains:
1<= **N**<=9
**Notes:**
Donot use any string methods like ('5')*5
You have just 1 for loop and two lines of code in which you have to take an input from user and print a pattern also
Do not use ; (semi-colon) to saprate two lines into one line